.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_buttons {
  display: flex;
  gap: 8px;
}

.header_search {
  width: 30%;
}

.icon {
  width: rem(22px);
  height: rem(22px);
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}
